.tocea-header {
	width: auto;
}

.tocea-footer {
	padding: 5px;
	float: right;
}

.tocea-content {
	padding: 35px 5px 5px 5px;
}


.glyphicon {
	margin-right: 5px;
}

.navbar-brand {
	padding: 5px 50px 0px 20px;
}

.navbar {
	min-height: 30px;
	height: 30px;
	vertical-align: middle;
}

.navbar-nav li a {
	padding: 5px 15px 5px 15px;
}

.navbar-nav li .dropdown-menu {
	margin-top: 4px;
}

.srollable-form + form {
	max-height: 550px;
	overflow-y: auto;
	max-width: 1000px;
	overflow-x: hidden
}

.leftPan-list  {
	font-weight: bold;
	height:500px;
	overflow: auto;
}


.leftPan-list a {
	color: black;
}

.leftPan-list .active > a{
	background: #5bc0de !important;
}




