*.class

# Package Files #
*.jar
*.war
*.ear

#maven
target/
*.versionsBackup
komea.log
.komea

#eclipse
.project
.classpath
.settings/
bin/
xtend-gen/
WebContent

#temp
*~

#git
*.orig


tools/org.komea.events.dsl.ui/bin/org/komea/events/dsl/ui/contentassist/.EventDslProposalProvider.java._trace
.gradle
.gradletasknamecache
build
