<configuration>
   <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
   <!-- <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /> -->

   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} %-5level %logger{50} - %msg%n
         </pattern>
      </encoder>
   </appender>




   <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${KOMEA_HOME}/logs/komea.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
         <param name="FileNamePattern" value="${KOMEA_HOME}/logs/komea.%i.log" />
         <param name="MinIndex" value="1" />
         <param name="MaxIndex" value="3" />
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <param name="MaxFileSize" value="1MB" />
      </triggeringPolicy>
      <encoder>
         <pattern>%-4relative %-5level %logger{35} - %msg%n
         </pattern>
      </encoder>
   </appender>

   <logger name="org.springframework">
      <level value="WARN" />
   </logger>
   <logger name="org.quartz">
      <level value="WARN" />
   </logger>
   <logger name="org.apache.wicket">
      <level value="WARN" />
   </logger>
   <logger name="org.komea">
      <level value="INFO" />
   </logger>
   <logger name="org.hibernate">
      <level value="WARN" />
   </logger>
   <logger name="ch.qos">
      <level value="ERROR" />
   </logger>


   <root level="INFO">
      <appender-ref ref="FILE" />
   </root>
</configuration>

