<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="tocea-head">
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta content="" name="description"></meta>
<meta content="" name="author"></meta>
<title>Komea Administration</title>
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" type="text/css" media="screen"></link>
<link rel="stylesheet" href="../static/css/style.css" type="text/css"></link>
</head>
<body>
	<header class="tocea-header" th:include="layout :: tocea-header">
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Komea Administration</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li id="home-nav"><a href="/"><span class="glyphicon glyphicon-home"></span>Home</a></li>
					<li id="events-nav"><a href="/events"><span class="glyphicon glyphicon-list"></span>Activity</a></li>
					<li id="metrics-nav"><a href="/metrics"><span class="glyphicon glyphicon-signal"></span>Analytics</a></li>
					<li id="analytics-nav"><a href="/analytics"><span class="glyphicon glyphicon-th"></span>Comparison</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" sec:authorize="not hasRole('ROLE_USER')">
					<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
						<div class="dropdown-menu" style="padding: 10px;">
							<div th:fragment="tocea-signin">
								<form method="POST" th:action="@{/j_spring_security_check}">
									Login<br></br> <input style="margin-bottom: 20px; width: 200px;" type="text" id="username" name="j_username"></input><br></br> Password<br></br> <input style="margin-bottom: 20px; width: 200px;" type="password" id="password" name="j_password"></input><br></br> <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1"></input> <label for="user_remember_me">Remember me</label> <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In" style="width: 150px;"></input>
								</form>
							</div>
						</div></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" sec:authorize="hasRole('ROLE_USER')">
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i>Welcome, User <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/admin/user_preferences"><i class="glyphicon glyphicon-cog"></i> Preferences</a></li>
							<li><a href="/help/support"><i class="glyphicon glyphicon-envelope"></i>Contact Support</a></li>
							<li class="divider"></li>
							<li><a href="/j_spring_security_logout"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" sec:authorize="hasRole('ROLE_ADMIN')">
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-wrench"></i>Administration <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/admin/users"><i class="glyphicon glyphicon-user"></i>Users</a></li>
							<li><a href="/admin/teams"><i class="glyphicon glyphicon-cog"></i>Teams</a></li>
							<li><a href="/admin/departments"><i class="glyphicon glyphicon-cog"></i>Departments</a></li>
							<li class="divider"></li>
							<li><a href="/admin/metrics"><i class="glyphicon glyphicon-signal"></i>Metrics</a></li>
							<li><a href="/admin/triggers"><i class="glyphicon glyphicon-random"></i>Triggers</a></li>
							<li><a href="/admin/predef"><i class="glyphicon glyphicon-upload"></i>Predefined actions</a></li>
							<li class="divider"></li>
							<li><a href="/admin/settings"><i class="glyphicon glyphicon-wrench"></i>Installation</a></li>
						</ul></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">
							<span class="glyphicon glyphicon-bookmark"></span> Quick Shortcuts
						</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-6 col-md-6">
								<a th:href="@{/p/infos}" class="btn btn-danger btn-lg" role="button" id="gni"><span class="glyphicon glyphicon-list-alt"></span> <br />Informations</a> <a th:href="@{/p/projects}" class="btn btn-warning btn-lg" role="button" id="gni"><span class="glyphicon glyphicon-bookmark"></span> <br />Projects</a> <a id="gni" th:href="@{/p/teams}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span> <br />Team</a> <a id="gni" th:href="@{/p/departments}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br />Departments</a> <a id="gni" th:href="@{/p/users}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br />Users</a> <a id="gni" th:href="@{/p/customers}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br />Customers</a> <a id="gni" th:href="@{/p/alerts}" class="btn btn-primary btn-lg" role="button"><span
									class="glyphicon glyphicon-comment"
								></span> <br />Alerts</a> <a id="gni" th:href="@{/p/kpis}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br />KPIs</a>
							</div>
							<div class="col-xs-6 col-md-6">
								<a  id="gni" th:href="@{/p/settings}" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br />Settings</a> 
								<a  id="gni" th:href="@{/p/ldap}" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-file"></span> <br />LDAP</a> 
								<a   id="gni" th:href="@{/p/plugins}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br />Plugins</a> 
								<a   id="gni" th:href="@{/p/apialerts}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tag"></span> <br />API Alerts</a>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<a  href="http://www.jquery2dotnet.com/" class="btn btn-info btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span> View Log</a>
							</div>
							<div class="col-xs-6">
								<a  href="https://github.com/sleroy/komea" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span> Go on Github</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="tocea-footer" th:include="layout :: tocea-footer">
		<p>&copy; Tocea 2013-2014</p>
		<script src="../static/js/jquery.js"></script>
		<script src="../static/bootstrap/js/bootstrap.min.js"></script>
	</footer>
	<script type="text/javascript">
		var element = document.getElementById("home-nav");
		element.className = element.className + " active";
	</script>
</body>
</html>
