<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="tocea-head">
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta content="" name="description"></meta>
<meta content="" name="author"></meta>
<title>Komea Administration</title>
<link rel="stylesheet" th:href="@{~/static/bootstrap/css/bootstrap.min.css}" type="text/css" media="screen"></link>
<link rel="stylesheet" th:href="@{~/static/css/style.css}" type="text/css"></link>
<link rel="stylesheet" type="text/css" th:href="@{~/static/js/ui/themes/base/jquery-ui.css}" />
</head>
<body>
	<!--  BALISE HEADER -->
	<header class="tocea-header" th:fragment="tocea-header">
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="navbar-inner">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}"><img src="/static/pics/logo.png" alt="logo" width="32" height="32" /> Komea Administration</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li id="home-nav"><a href="@{/p/}"><span class="glyphicon glyphicon-home"></span>Home</a></li>
						<li id="metrics-nav" sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/p/infos}"><span class="glyphicon glyphicon-signal"></span>Informations</a></li>
					</ul>
					<ul class="nav navbar-nav" sec:authorize="hasRole('ROLE_USER')">
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-list-alt"></i>Manage Data <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/p/projects}"><i class="glyphicon glyphicon-book"></i>Manage Projects</a></li>
								<li><a th:href="@{/p/teams}"><i class="glyphicon glyphicon-cog"></i>Manage Teams</a></li>
								<li><a th:href="@{/p/departments}"><i class="glyphicon glyphicon-cog"></i>Manage Departments</a></li>
								<li><a th:href="@{/p/customers}"><i class="glyphicon glyphicon-cog"></i>Manage Customers</a></li>
								<li><a th:href="@{/p/users}"><i class="glyphicon glyphicon-user"></i>Manage Users</a></li>
								<li class="divider"></li>
								<li><a th:href="@{/p/alerts}"><i class="glyphicon glyphicon-check"></i>Manage Alerts</a></li>
								<li><a th:href="@{/p/kpis}"><i class="glyphicon glyphicon-signal"></i>Manage KPI</a></li>
							</ul></li>
					</ul>
					<ul class="nav navbar-nav navbar-right" sec:authorize="not hasRole('ROLE_USER')">
						<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
							<div class="dropdown-menu" style="padding: 10px;">
								<form method="POST" th:action="@{/p/j_spring_security_check}">
									Login<br></br> <input style="margin-bottom: 20px; width: 200px;" type="text" id="username" name="j_username"></input><br></br> Password<br></br> <input style="margin-bottom: 20px; width: 200px;" type="password" id="password" name="j_password"></input><br></br> <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1"></input> <label for="user_remember_me">Remember me</label> <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In" style="width: 150px;"></input>
								</form>
							</div></li>
					</ul>
					<ul class="nav navbar-nav navbar-right" sec:authorize="hasRole('ROLE_USER')">
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i>Welcome, User <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="https://github.org/sleroy/komea"><i class="glyphicon glyphicon-envelope"></i>Contact Support</a></li>
								<li class="divider"></li>
								<li><a th:href="@{/p/j_spring_security_logout}"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
							</ul></li>
					</ul>
					<ul class="nav navbar-nav" sec:authorize="hasRole('ROLE_ADMIN')">
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-wrench"></i>Administration <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/p/settings}"><i class="glyphicon glyphicon-cog"></i>Settings</a></li>
								<li><a th:href="@{/p/ldap}"><i class="glyphicon glyphicon-user"></i>Configure LDAP</a></li>
								<li><a th:href="@{/p/apialerts}"><i class="glyphicon glyphicon-warning-sign"></i>API Alerts</a></li>
								<li><a th:href="@{/p/plugins}"><i class="glyphicon glyphicon-wrench"></i>Configure Plugins</a></li>
								<li class="divider"></li>
								<li><a th:href="@{/p/viewlog}"><i class="glyphicon "></i>View log</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<footer class="tocea-footer" th:fragment="tocea-footer">
		<p>&copy; Tocea 2013-2014</p>
		<script th:src="@{/static/js/ui/jquery.js}"></script>
		<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
	</footer>
</body>
</html>
