<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: tocea-head"></head>
<script type="text/css">

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }
</script>
<body>
	<header class="tocea-header" th:include="layout :: tocea-header"></header>
	<div class="tocea-content">
		<div class="alert alert-danger" th:if="${error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
			Invalid credentials : please check your login and your password.<br></br> Reason: <span th:text="${errorMsg}">Wrong input!</span>
		</div>
		<div class="container" th:fragment="tocea-signin">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span class="glyphicon glyphicon-lock"></span> Login
						</div>
						<div class="panel-body">
							<form class="form-horizontal" role="form" method="POST" th:action="@{/p/j_spring_security_check}">
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-3 control-label"> Login</label>
									<div class="col-sm-9">
										<input class="form-control" id="username" name="j_username" placeholder="Login" />
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-3 control-label"> Password</label>
									<div class="col-sm-9">
										<input type="password" id="password" name="j_password" class="form-control" placeholder="Password" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<div class="checkbox">
											<label> <input type="checkbox" /> Remember me
											</label>
										</div>
									</div>
								</div>
								<div class="form-group last">
									<div class="col-sm-offset-3 col-sm-9">
										<button type="submit" class="btn btn-success btn-sm">Sign in</button>
										<button type="reset" class="btn btn-default btn-sm">Reset</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="tocea-footer" th:include="layout :: tocea-footer"></footer>
</body>
</html>
