<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: tocea-head"></head>
<body>

	<header class="tocea-header" th:include="layout :: tocea-header"></header>

	<div class="container">
		<div class="row clearfix">
			<div class="tocea-content col-md-2 column ">
				<!-- 	<nav id="nav" class="navbar-left tocea-content" role="navigation"> -->
				<ul class="nav nav-pills nav-stacked red leftPan-list">
					<li th:each="proj : ${projects}" th:class="${project.id == proj.id} ?  'active' : '' "><a
						th:href="@{'/admin/projects/' +${proj.id}}" th:text="${proj.name}"></a></li>
				</ul>
				<div class="foot">
					<!-- 			<a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-minus"></span> </a> -->
					<a th:href="@{/admin/projects}" class="btn btn-primary btn-block">Add project</a> <a
						th:href="@{'/admin/projects/delete/' + ${project.id}}"
						th:class="${project.id == null} ?  'btn btn-danger btn-block disabled' : 'btn btn-danger btn-block'">Delete
						project</a>
				</div>
			</div>

			<div class="tocea-content col-md-10 column">
				<form id="saveForm" class="form-horizontal srollable-form" th:object="${project}"
					th:action="@{/admin/projects/save}" method="POST">
					<fieldset>
						<legend>Project description</legend>

						<!-- 						sucess massage -->
						<!-- 						<div class="alert alert-success" th:if="${message == null}"> -->
						<!-- 							<label th:text="#{project.saved}"></label> -->
						<!-- 						</div> -->

						<!-- Text input-->
						<div class="form-group">
							<label class="control-label col-md-2" for="projectName">Project name :</label>
							<div class="col-md-3">
								<input type="hidden" th:field="*{id}" /> <input th:field="*{name}" placeholder="project name" type="text"
									class="form-control" required="required" />
							</div>
							<div class="alert alert-danger" th:if="${#fields.hasErrors('name')}">
								<ul>
									<li th:each="err : ${#fields.errors('name')}" th:text="${err}">Input is incorrect</li>
								</ul>
							</div>
						</div>

						<!-- Textarea -->
						<div class="form-group">
							<label class="control-label col-md-2" for="projectDescription">Description : </label>
							<div class="col-md-10">
								<textarea class="form-control" placeholder="Description du projet" th:field="*{description}"></textarea>
							</div>
						</div>



						<!-- Select Basic -->
						<div class="form-group">
							<label class="control-label col-md-2">Customer :</label>
							<div class="col-md-3">
								<select id="customer" name="customer" class="form-control">
									<option th:field="*{customer}" th:value="${0}" th:selected="*{0 == customer}">none</option>
									<option th:each="customer : ${customers}" th:field="*{customer}" th:value="${customer.id}"
										th:text="${customer.name}" th:selected="${project.customer == customer.id}"></option>
								</select>
							</div>
						</div>

						<!-- Select Basic -->
						<div class="form-group">
							<label class="control-label col-md-2">Department :</label>
							<div class="col-md-3">
								<select name="department" class="form-control">
									<option th:field="*{department}" th:value="${0}" th:selected="*{0 == department}">none</option>
									<option th:each="dep : ${departments}" th:field="*{department}" th:value="${dep.id}" th:text="${dep.name}"
										th:selected="${project.department == dep.id}"></option>
								</select>
							</div>
						</div>

						<!-- Select Basic -->
						<div class="form-group">
							<label class="control-label col-md-2">Status :</label>
							<div class="col-md-3">
								<select name="status" class="form-control">
									<option th:field="*{status}" th:value="${0}" th:selected="*{0 == status}">UKNOWN</option>
									<option th:field="*{status}" th:value="${1}" th:selected="*{1 == status}">DEV</option>
								</select>
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="control-label col-md-2">Dashboard URL :</label>
							<div class="col-md-10">
								<input th:field="*{dashboardURL}" placeholder="http://..." type="text" class="form-control" />
							</div>
						</div>

						<!-- 				Text input -->
						<div class="form-group">
							<label class="control-label col-md-2">Bugtracker URL : </label>
							<div class="col-md-10">
								<input placeholder="http://..." th:field="*{bugTrackerURL}" type="text" class="form-control" />
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="control-label col-md-2">CI URL :</label>
							<div class="col-md-10">
								<input placeholder="http://..." th:field="*{ciURL}" type="text" class="form-control" />
							</div>
						</div>


						<div class="form-group" style="max-height: 70px; overflow: auto;">
							<label class="control-label col-md-2">Developers:</label>
							<div class="controls col-md-4">
								<ul class="scrolllist">
									<li th:each="user : ${users}"><input type="checkbox" th:field="*{developers}" th:value="${user.id}" /> <label
										th:text="${user.firstName + ' ' + user.lastName}"></label></li>
								</ul>
							</div>
						</div>
						<div class="controls">
							<button type="reset" class="btn btn-primary col-md-offset-2 col-md-1">Cancel</button>
							<button type="submit" class="btn btn-success col-md-offset-8 col-md-1" th:text="*{(id == null) ? 'Save' : 'Update'}"></button>
						</div>

					</fieldset>
				</form>
			</div>

			<!-- 				</div> -->
		</div>
	</div>
	<footer class="tocea-footer" th:include="layout :: tocea-footer"></footer>
</body>
</html>

