<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: tocea-head"></head>
    <body>
        <header class="tocea-header" th:include="layout :: tocea-header"></header>
        <div class="tocea-content">
            <p>Liste des requêtes disponibles :</p>
            <ul>
                <li th:each="sb : ${queries}"><a href="/queries/" th:href="'queries/' + ${sb}" th:text="${sb}"></a></li>
            </ul>
            <hr />
            <div class="row-fluid">
                <div class="span12" style="background-color: #E0E0E0;">
                    <h3>Recent events</h3>
                    <div class="media">
                        <a class="pull-left" href="#"> <img
                                src="/static/pics/jenkins.png" width="16" />
                        </a>
                        <div class="media-body">
                            <!-- <h4 class="media-heading">Media heading</h4> -->

                            <!-- Nested media object -->
                            <div class="media">
                                <div class="row-fluid">
                                    <div class="span10">
                                        <div class="row-fluid">
                                            <div class="span2" style="font-weight: bold;">Provider</div>
                                            <div class="span2" style="font-weight: bold;">Project</div>
                                            <div class="span6" style="font-weight: bold;">Message</div>
                                        </div>
                                    </div>

                                    <div class="span1" style="font-weight: bold;">Criticity</div>
                                    <div class="span1" style="font-weight: bold;">Date</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media" th:each="sb : ${results}">
                        <a class="pull-left" href="#"> <img
                                src="/static/pics/jenkins.png" width="16" />
                        </a>
                        <div class="media-body">
                            <!-- <h4 class="media-heading">Media heading</h4> -->

                            <!-- Nested media object -->
                            <div class="media">
                                <div class="row-fluid">
                                    <div class="span10">
                                        <div class="row-fluid">
                                            <div class="span2"
                                                 th:text="${sb.getProvider().getName()}"></div>
                                            <div class="span2" th:text="${sb.getProject().getName()}"></div>
                                            <div class="span6" th:text="${sb.message}"></div>
                                        </div>
                                    </div>
                                    <div class="span1">
                                        <a href="/views/type_alerts/0" class="btn btn-mini btn-success"
                                           th:text="${sb.getCriticity().getName()}"></a>
                                    </div>
                                    <div class="span1" th:text="${sb.getPrettyTime()}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="tocea-footer" th:include="layout :: tocea-footer"></footer>
    </body>
</html>
