<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: tocea-head"></head>
    <body>
        <header class="tocea-header" th:include="layout :: tocea-header"></header>
        <div class="tocea-content">
            <table>
                <thead>
                    <tr>
                        <td>Username</td>
                        <td>Firstname</td>
                        <td>email</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.userName}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.email}"></td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <form method="post" action="/admin/users/save" th:object="${user}">
                <p>Username :</p>
                <input name="userName" th:field="*{username}" /><br />
                <p>FirstName :</p>
                <input name="firstName" th:field="*{firstName}" /><br />
                <p>Email :</p>
                <input name="email" th:field="*{email}" /> <input type="reset" /> <input
                    type="submit" formmethod="post" /> <br />
            </form>
        </div>
        <footer class="tocea-footer" th:include="layout :: tocea-footer"></footer>
    </body>
</html>

