<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: tocea-head"></head>
    <body>
        <header class="tocea-header" th:include="layout :: tocea-header"></header>
        <div class="tocea-content">
            <h1>Manage your departments</h1>
            <table
                class="table table-condensed table-hover table-striped table-bordered">
                <caption>List of Departments</caption>
                <thead>
                    <tr>
                        <th>Department name</th>
                        <th>Accross-activities</th>
                        <th>Teams associated</th>
                        <th>Users associated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="dep : ${departments}">
                        <td><a href="edit"
                               th:href="@{'/admin/departments/' + ${dep.id}}"
                               th:text="${dep.name}">Department</a></td>
                        <td th:text="${dep.accross}"></td>
                        <td>
                            <table th:substituteby="layout :: teamtable"
                                   class="table table-condensed table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Team</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>team1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table th:substituteby="layout :: usertable"
                                   class="table table-condensed table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>sleroy</td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                        <td><a href="delete"
                               th:href="@{'/admin/departments/delete/' + ${dep.id}}">delete</a> <a
                               href="edit" th:href="@{'/admin/departments/' + ${dep.id}}">edit</a></td>
                    </tr>
                </tbody>
            </table>
            <a href="edit" th:href="@{'/admin/departments/'}">Add a new
                department</a>
            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="span4">
                            <div class="area">
                                <form class="form-horizontal" th:object="${depart}"
                                      th:action="@{/admin/departments/save}" method="POST">
                                    <div class="heading">
                                        <h4 class="form-heading">Add/Edit an department</h4>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="departmentName">Department
                                            Name</label>
                                        <div class="controls">
                                            <input type="hidden" th:field="*{id}" /> <input type="text"
                                                                                            th:field="*{name}" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="accrossEntity">Accross-entity</label>
                                        <div class="controls">
                                            <input type="checkbox" th:field="*{accross}" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button type="submit" class="btn btn-success">Edit/Add</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="area" th:if="${depart != NULL} and ${newDep == NULL}">
                                <div class="heading">
                                    <h4 class="form-heading">Associate teams</h4>
                                </div>
                                <table
                                    class="table table-condensed table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Teams</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="dep : ${teams}">
                                            <td
                                                th:text="${dep.department} ? (${dep.name} + '(' + ${dep.department.name}+')') : ${dep.name}"></td>
                                            <td><a href="/admin/departments/attach_team/"
                                                   th:href="@{/admin/departments/attach_team(ref=${depart.id},id=${dep.id})}">attach</a>
                                                <a href="/admin/departments/detach_team/"
                                                   th:href="@{/admin/departments/detach_team(ref=${depart.id},id=${dep.id})}">detach</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="area" th:if="${depart != NULL} and ${newDep == NULL}">
                                <div class="heading">
                                    <h4 class="form-heading">Associate users</h4>
                                </div>
                                <table
                                    class="table table-condensed table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Users</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="dep : ${users}">
                                            <td th:text="${dep.userName}"></td>
                                            <td th:text="${dep.firstName} + ' ' +${dep.lastName}"></td>
                                            <td><a href="/admin/departments/attach_user/"
                                                   th:href="@{/admin/departments/attach_user(ref=${depart.id},id=${dep.id})}">attach</a>
                                                <a href="/admin/departments/detach_user/"
                                                   th:href="@{/admin/departments/detach_team(ref=${depart.id},id=${dep.id})}">detach</a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="tocea-footer" th:include="layout :: tocea-footer"></footer>
    </body>
</html>
