<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: tocea-head"></head>
<body>
	<header class="tocea-header" th:include="layout :: tocea-header"></header>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="error-template">
					<h1>Oops!</h1>
					<h2 th:text="'Error ' +  ${errorCode}">Error code : 500</h2>
					<div class="error-details" th:text="${errorMessage}"><code class="java">Sorry, an error has occured, Requested page not found!</code></div>
					<div class="error-actions">
						<a th:href="@{/}" href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> Take Me Home </a><a href="https://github.com/sleroy/komea" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="tocea-footer" th:include="layout :: tocea-footer"></footer>
</body>
</html>
