<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: tocea-head"></head>
    <body>
        <header class="tocea-header" th:include="layout :: tocea-header"></header>
        <div class="tocea-content" id="tocea-content">
        </div>
        <footer class="tocea-footer" th:include="layout :: tocea-footer"></footer>
        <script type="text/javascript">
            var element = document.getElementById("metrics-nav");
            element.className = element.className + " active";
        </script>
        <script type="text/javascript" language="javascript" src="/static/gwt/ModuleMetrics/ModuleMetrics.nocache.js"></script>
    </body>
</html>

