<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: tocea-head"></head>
<body>
	<header class="tocea-header" th:include="layout :: tocea-header"></header>
	<div class="container">
		<div class="alert alert-success" th:if="${saved != null and errors.isEmpty()}">
			<label>Preferences has been saved!</label>
		</div>
		<div class="alert alert-success" th:if="${saved != null and !errors.isEmpty()}">
			<label>Preferences has been saved but some properties could not be updated</label>
			<ul>
				<li th:each="err : ${errors}" th:text="${err}"></li>
			</ul>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-wrench"></span> Manage settings of Komea
			</div>
			<div class="panel-body">
				<form class="form-group" th:object="${settings}" th:action="@{/p/settings/save}" action="#" method="POST">
					<div class="container">
						<div class="row">
							<div class="span12">
								<table class="table table-condensed table-hover table-striped table-bordered table-condensed">
									<thead>
										<tr>
											<th>Property Description</th>
											<th>Property Value</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="setting : ${settingslist}">
											<td><p th:text="${setting.description}">Log file path</p>
												<p>
													<em th:text="${setting.settingKey}">key</em>
												</p></td>
											<th><input class="form-control input-sm" type="text" th:name="'properties[' + ${setting.id} +']'" th:value="${setting.value}"></input></th>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<input type="submit" value="Update properties" />
				</form>
			</div>
		</div>
	</div>
	<footer class="tocea-footer" th:include="layout :: tocea-footer">
		<p>&copy; Tocea 2013-2014</p>
		<script src="../static/js/jquery.js"></script>
		<script src="../static/bootstrap/js/bootstrap.min.js"></script>
	</footer>
	<script type="text/javascript">
		var element = document.getElementById("home-nav");
		element.className = element.className + " active";
	</script>
</body>
</html>
