<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Komea</display-name>
	<description>Komea</description>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/spring/application-context.xml</param-value>
	</context-param>


	<session-config>  <!-- 30 minutes -->
		<session-timeout>30</session-timeout>
	</session-config>




	<servlet>
		<servlet-name>rest</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/spring/rest-servlet.xml</param-value>
		</init-param>

	</servlet>
	<servlet-mapping>
		<servlet-name>rest</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>

	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>wicket.komea</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>		
			<param-name>wicket.configuration</param-name>
			<param-value>DEVELOPMENT</param-value>			
		</init-param>
		<init-param>		
			<param-name>applicationClassName</param-name>
			<param-value>org.komea.product.wicket.WicketApplication</param-value>			
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>wicket.komea</filter-name>
		<url-pattern>/p/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>cors</filter-name>
		<filter-class>org.komea.product.web.rest.api.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>cors</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>


	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/p/error.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/p/error.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/p/error.html</location>
	</error-page>
</web-app>